<p>Здравствуйте, с сайта jk-service.ru вам было отправлено сообщение.</p>
<br />
<p>Пользователь: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Email:  <%= @user.email %></p>
<p>Квартира:  <%= @user.kvartira %></p>
<p>Телефон:  <%= @user.phone %></p>
<p>Сообщение:</p>
<p><%= @user.message %></p>
