<p>Здравствуйте, с сайта http://jk-service.ru через форму обратной связи вам было отправлено сообщение.</p>
<br />
<br />
<p>Пользователь: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Email:  <%= @user.email %></p>
<p>Квартира №:  <%= @user.kvartira %></p>
<p>Телефон для связи:  <%= @user.phone %></p>
<p>Сообщение:</p>
<p><%= @user.message %></p>
